[submodule "doom/src/main/jni/MobileTouchControls"]
	path = doom/src/main/jni/MobileTouchControls
	url = https://github.com/nvllsvm/MobileTouchControls.git
[submodule "doom/src/main/jni/gzdoom_android"]
	path = doom/src/main/jni/gzdoom_android
	url = https://github.com/emileb/gzdoom.git
[submodule "doom/src/main/jni/jwzgles"]
	path = doom/src/main/jni/jwzgles
	url = https://github.com/emileb/jwzgles.git
